<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Update Employee</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="User Name" formControlName="username" #username>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Email" formControlName="Email" #email>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="role_ids" formControlName="role_ids" #role_ids>
          <mat-option value="superuser">superuser</mat-option>
          <mat-option value="admin">admin</mat-option>
          <mat-option value="tester">tester</mat-option>
          <mat-option value="developer">developer</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="First Name" formControlName="firstname" #firstname>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Last Name" formControlName="lastname" #lastname>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Mobile" formControlName="mobile" #mobile>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Gender" formControlName="gender" #gender>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="others">Others</mat-option>
       </mat-select>
    </mat-form-field>   

    <mat-form-field class="field-full-width">
      <input matInput placeholder="D.O.B" formControlName="dob" #dob>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Password" formControlName="password" #password>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Conform Password" formControlName="conformpassword" #conformpassword>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Parent Name" formControlName="parentname" #parentname>
    </mat-form-field>
      
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Parent_Contact_No" formControlName="parent_contact_no" #parent_contact_no>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Address" formControlName="address" #addresss>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="City" formControlName="city" #city>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="State" formControlName="state" #state>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Pincode" formControlName="pincode" #pincode>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Is_active" formControlName="is_active" #is_active>
    </mat-form-field>

    
    <label>
      Bug Image<br><br>
     <input type="file"  formControlName="bug_image" #bug_image>
    </label>
    


     
      <mat-form-field>
        <mat-select placeholder="Status" formControlName="status" #status>
          <mat-option value="Open">Open</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="Done">Done</mat-option>
        </mat-select>
    </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/emplist">Back</button>&nbsp;
      <button type="submit" (click)="updateDetails(username.value, email.value, role_ids.value,firstname.value,lastname.value,mobile.value,gender.value,dob.value,password.value,conformpassword.value,parentname.value,parent_contact_no.value,address.value,state.value,city.value,pincode.value,is_active.value,bug_image,  status.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
    
  </form>
  </mat-card>
 </div> 
