<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Register Here</div>
    <div class="card-body">


      <form #signForm=ngForm (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="name" name="name" class="form-control" id="inputname3" placeholder="Name"
               [(ngModel)]="form.name" required>
               <div class="alert alert-danger" [hidden]="!error.name">
                {{error.name}}
              </div>
          </div>
        </div><br><br>

      


        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email"
               [(ngModel)]="form.email" required>
                  
        <div class="alert alert-danger" [hidden]="!error.email">
          {{error.email}}
        </div>
          </div>
        </div><br><br>
      
         
         <div class="form-group row">
          <label for="inputPasswordConformation" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
           <input type="password" name="password" class="form-control" id="inputPasswordConformation" placeholder="Password"
           [(ngModel)]="form.password" required>

           <div class="alert alert-danger" [hidden]="!error.password">
            {{error.password}}
          </div>
          </div>
         </div><br><br>


          
         <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-10">
           <input type="password" name="password_conformation" class="form-control" id="inputPassword" placeholder="Confirm Password"
           [(ngModel)]="form.password_conformation" required>

           
          </div>
         </div><br><br>
  
         <div class="form-group row">
             <div class="col-sm-10 offset-2">
               <button type="submit" class="btn btn-primary" 
               
               [disabled]="!signupForm.valid">Sign up</button>
             


               <a routerLink="/login" class="btn btn-info float-right">Sign in</a>
          </div>
      </div>
      </form>
      
       
    </div>
  </div>
</div>