<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/empcreate">Create New Employee</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="issues">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>UserName</th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="role_ids">
        <th mat-header-cell *matHeaderCellDef>Role_ids</th>
        <td mat-cell *matCellDef="let element"> {{element.role_ids}} </td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Laast Name</th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef>Mobile</th>
        <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef>D.O.B</th>
        <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
      </ng-container>

      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef>Password</th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>

      <ng-container matColumnDef="conformpassword">
        <th mat-header-cell *matHeaderCellDef>Conform Password</th>
        <td mat-cell *matCellDef="let element"> {{element.conformpassword}} </td>
      </ng-container>

      <ng-container matColumnDef="parentname">
        <th mat-header-cell *matHeaderCellDef>Prent Name</th>
        <td mat-cell *matCellDef="let element"> {{element.parentname}} </td>
      </ng-container>

      <ng-container matColumnDef="parent_contact_no">
        <th mat-header-cell *matHeaderCellDef>Parent_contact_No</th>
        <td mat-cell *matCellDef="let element"> {{element.parent_contact_no}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <ng-container matColumnDef="pincode">
        <th mat-header-cell *matHeaderCellDef>Pincode</th>
        <td mat-cell *matCellDef="let element"> {{element.pincode}} </td>
      </ng-container>

      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef>Is_Active</th>
        <td mat-cell *matCellDef="let element"> {{element.is_active}} </td>
      </ng-container>

      <ng-container matColumnDef="bug_image">
        <th mat-header-cell *matHeaderCellDef>Bug_Image</th>
        <td mat-cell *matCellDef="let element"> {{element.bug_image}} </td>
      </ng-container>
      
    
      

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" (click)="editIssue(element._id)">Edit</button>
          <button mat-button color="warn" (click)="deleteIssue(element._id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>
