

<nav class="nav">
  <a class="navbar-brand">Bug Tracking System</a>
  <div class="a">
    <a class="brand" href="#" routerLink="login" *ngIf="!loggedIn">Login</a>
  </div>
  <div>
    <a class="brand" href="#" routerLink="emplist" >Profile</a>
  </div>

  <div class="c">
    <a class="brand" href="#" routerLink="list" *ngIf="loggedIn">Bug</a>
  </div>

  <div class="b">
    <a class="brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
  </div>  
  
</nav>