.navbar-brand{
    color: black;
    font-size: 30px;
}


.nav{
    width: 120%;
    background-color:whitesmoke;
    padding: 1%;
}

.brand{
    position: absolute;
    left: 90%;
    top: 4%;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.a{
    position: absolute;
    top:4%;
    left: 80%;
    font-size: 25px;
    color: black;
}

.b{
    position: absolute;
    top:4%;
    left: 100%;
    font-size: 25px;
    color: black;
}

.c{
    position: absolute;
    top:4%;
    left: 110%;
    font-size: 25px;
    color: black;
}